#propH1{
  font-size: 60px;
margin-left: 35%;
  margin-top: 59px;
}
.propP1{
  font-size: 25px;
  margin-top: 40px;
  margin-left: 90px;

}
.propH2{
  font-size: 60px;
position: relative;
right: 100px;
  margin-top: 59px;
}
.li{
  font-size: 25px;
  margin-top: 15px;
  margin-left: 90px;

}